@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

/* ESSE EH O EFEITO DO DENTE SUBINDO E DESCENDO, NAO MEXE AKI */
@keyframes floatVertical {
  0%, 100% { background-position: center 30%; }
  50% { background-position: center 70%; }
}

.hero-image-container {
  background-size: 50% !important; 
  animation: floatVertical 12s ease-in-out infinite !important;
}